@font-face {
  font-family: "RobotoFont";
  src: url("/static/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.main-content {
  flex: 1;
  background-color: #f0f0f0;
  position: relative;
}
.data-table-content {
  height: 700px;
  width: 100%;
  overflow: auto;
}
.search-content {
  height: 111px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-box {
  position: absolute;
  width: 171px;
  height: 32px;
  top: 48px;
  left: 110px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: white;
  overflow: hidden;
}

select {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  appearance: none;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 5px;
  outline: none;
}

.search-inputbox {
  position: absolute;
  width: 302px;
  height: 32px;
  top: 48px;
  left: 289px;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: white;
}

.search-button {
  position: absolute;
  width: 54px;
  height: 32px;
  top: 48px;
  left: 599px;
  padding: 8px, 14px, 8px, 14px;
  border-radius: 5px;
  gap: 10px;
  background-color: #565656;
  border: none;
  color: white;
}

.data-table-text {
  position: absolute;
  width: 110px;
  height: 21px;
  top: 111px;
  left: 110px;
  font-family: RobotoFont;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.data-table-create-button {
  position: absolute;
  top: 105px;
  left: 1702px;
  background-color: #3d5eec;
  color: white;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

.data-table-title {
  height: 57px;
  text-align: left;
  padding: 0%;
}
.data-table {
  position: absolute;
  top: 140px;
  left: 40px;
  border-collapse: collapse;
  border: 1px solid #ccc; /* 모든 셀에 하단 경계선 설정 */
  border-radius: 5px;
  margin-top: 18px;
  margin-left: 70px;
  width: 1700px;
  background-color: white;
}

.center{
  text-align: center;
}

.firstcell{
  padding-left: 30px;
}
.data-table .data-cell {
  border-bottom: 1px solid #ccc;
  height: 50px;
  font-family: RobotoFont;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
}

.data-table td {
  border-bottom: 1px solid #ccc;
  height: 40px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-link {
  display: inline-block;
  padding: 8px;
  margin: 0 7px;
  text-decoration: none;
  color: #333;
}

.page-link:hover {
  background-color: #f1f1f1;
}

.active {
  background: #3853ff;
  color: white;
  border-radius: 50%;
  display: inline-block;
}

/* -------------------------------------------------------------------------------------------------- */
/* 데이터셋 생성 모달 css */
.projectCreateModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.projectCreateModal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 486px;
  max-width: 100%;
  height: 530px;
}

.projectCreateModal-title {
  height: 40px;
  background: #edf0ff;
}

.projectCreateModal-close {
  position: absolute;
  top: 5px;
  left: 460px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.projectCreateModal-title-name {
  position: relative;
  top: 10px;
  left: 20px;

  font-family: RobotoFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.projectCreateModal-input-area {
  margin-left: 24px;
  margin-top: 24px;
}

.input-title {
  margin-top: 24px;
  font-family: RobotoFont;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.input-area {
  margin-top: 8px;
  font-family: RobotoFont;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}
select {
  width: 438px;
  height: 38px;
  border-radius: 5px;
  background: white;
  box-shadow: 0px 4px 10px 0px #00000040;
}
.input-dataset {
  width: 432px;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  background: white;
  box-shadow: 0px 4px 10px 0px #00000040;
  padding-left: 8px;
}

.input-title-container {
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
}
.projectCreateModal-table {
  width: 438px;
  max-height: 204px; /* 최대 높이를 지정 */
  overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤이 표시되도록 함 */
  border-radius: 5px;
  background: white;
  border: 1px solid #9b9b9b;
  box-shadow: 0px 4px 10px 0px #00000040;
}
.detail-textarea {
  width: 425px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  padding-top: 7px;
  padding-left: 11px;
  resize: none;
  overflow-y: auto;
}
.projectCreateModalButtons button {
  margin-top: 10px;
  width: 43px;
  height: 20px;
  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.projectCreateModalCancelButton {
  margin-left: 374px;
  background: #9a9a9a;
}
.projectCreateModalOkButton {
  margin-left: 2px;
  background: #3d5eec;
}
/* -------------------------------------------------------------------------------------------------- */
/* 데이터셋 detail 모달 css */
.projectDetailModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}
.projectDetailModal-content {
  background-color: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 785px;
  max-width: 100%;
  height: 634px;
}

.projectDetailModal-title {
  height: 40px;
  background: #edf0ff;
}

.projectDetailModal-close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.projectDetailModal-title-name {
  position: relative;
  top: 10px;
  left: 20px;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.projectDetailModal-input-area {
  margin-left: 24px;
  margin-top: 24px;
}
.projectDetailModalButtons button {
  margin-top: 7px;
  width: 43px;
  height: 20px;
  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  gap: 4px;
  color: white;
  border: none;
}
.projectDetailModalCancelButton {
  margin-left: 667px;
  background: #9a9a9a;
}
.projectDetailModalOkButton {
  margin-left: 2px;
  background: #3d5eec;
}
.datasetCreateModal-input-area {
  margin-left: 24px;
  margin-top: 24px;
}
.output-view-button {
  width: 70px;
  height: 28px;
  color: white;
  background: #526eff;
  border: none;
  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.output-modify-button {
  width: 70px;
  height: 28px;
  color: white;
  background: #9a9a9;
  color: #526eff;
  border: none;
  padding: 3px, 10px, 3px, 10px;
  border-radius: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.area1 {
  height: 526px;
  width: 478px;
  float: left;
}

.area2 {
  height: 526px;
  width: 307px; /* 785px - 478px */
  float: left;
}

.container {
  width: 785px;
  overflow: hidden; /* 부모 요소에서 float 된 자식 요소를 감지하도록 함 */
}
.mlflow-textarea {
  width: 270px;
  height: 448px;
  border-radius: 5px;
  border: 1px solid #9b9b9b;
  padding-top: 7px;
  padding-left: 11px;
  resize: none;
  overflow-y: auto;
}
img{
  cursor: pointer;
}
button{
  cursor: pointer;
}