<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static//javascript/src/css/common/title.css" />
  <link rel="stylesheet" type="text/css" href="/static//javascript/src/css/tab/cctvEventManagement.css" />
  <script type="text/javascript" src="/static//javascript/src/js/tab/modelingRun.js"></script>
  <script type="text/javascript" src="/static//javascript/src/js/tab/commonUse.js"></script>
  <script
          type="text/javascript"
          src="{{ url_for('static', filename='/javascript/src/js/tab/cctvEventManagement.js') }}"
  ></script>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link
          rel="stylesheet"
          type="text/css"
          href="/static//javascript/src/css/common/title.css"
  />
</head>
{% include 'common/title.html' %}
</html>
<div class="main-content">
  <div class="section" id="section1">
    <div class="section_title">리스트</div>
      <div class="eventList event" id="eventListContainer">

      </div>
  </div>
  <div class="section" id="section2">
    <div class="section_title">사진</div>
    <div class="eventPhoto event">
      <div id="imageContainer"></div>
    </div>
  </div>
  <div class="section" id="section3">
    <div class="section_title">세부정보</div>
    <div class="eventDetail event" >

    </div>
  </div>
</div>
</body>

</html>