<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/javascript/src/css/common/title.css')}}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/javascript/src/css/tab/distributionManagemnet.css')}}"
    />
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='/javascript/src/js/tab/distributionManagemnet.js') }}"
    ></script>
  </head>
  <body>
    {% include 'common/title.html' %}
    <div class="main-content">
      <div class="search-content">
        <div class="dropdown-box">
          <select>
            <option value="option1">전체</option>
            <option value="option2">데이터셋명</option>
            <option value="option3">타입</option>
          </select>
        </div>
        <div class="search-inputbox"></div>
        <button class="search-button">조회</button>
      </div>

      <div class="data-table-content">
        <div class="data-table-text">데이터 목록</div>
        <button class="data-table-create-button" onclick="createDataset()">
          + Create
        </button>
        <table class="data-table">
          <thead>
            <tr class="data-table-title">
              <th class="data-cell" style="width: 300px">
                <img
                  src="{{url_for('static', filename='/javascript/src/images/box.svg')}}"
                  style="margin-left: 24px; margin-right: 18px"
                  alt="Image"
                />서비스 이름
              </th>
              <th class="data-cell">타입</th>
              <th class="data-cell">상태</th>
              <th class="data-cell">생성 시간</th>
              <th class="data-cell">마지막 수정일</th>
              <th class="data-cell">상세정보</th>
              <th class="data-cell">수정</th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/javascript/src/images/download.svg')}}"
                  alt="Image"
                />
              </th>
              <th class="data-cell">
                <img
                  src="{{url_for('static', filename='/javascript/src/images/delete.svg')}}"
                  alt="Image"
                />
              </th>
            </tr>
          </thead>
          <tbody>
            {% for _ in range(10) %}
            <tr>
              <td class="data-cell">
                <img
                  style="margin-left: 24px; margin-right: 16px"
                  src="{{url_for('static', filename='/javascript/src/images/box.svg')}}"
                  alt="Image"
                />service name
              </td>
              <td class="data-cell">type</td>
              <td class="data-cell">state</td>
              <td class="data-cell">create time</td>
              <td class="data-cell">last modify</td>
              <td class="data-cell">
                <img
                  style="margin-left: 15px"
                  onclick=" detailDistribution() "
                  src="{{url_for('static', filename='/javascript/src/images/detail.svg')}}"
                  alt="Image"
                />
              </td>
              <td class="data-cell">
                <img
                  src="{{url_for('static', filename='/javascript/src/images/modify.svg')}}"
                  alt="Image"
                />
              </td>

              <td class="data-cell">
                <img
                  src="{{url_for('static', filename='/javascript/src/images/download_2.svg')}}"
                  alt="Image"
                />
              </td>
              <td class="data-cell">
                <img
                  src="{{url_for('static', filename='/javascript/src/images/delete_2.svg')}}"
                  alt="Image"
                />
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="pagination">
        <a href="#" class="page-link">&laquo; </a>
        <a href="#" class="page-link">&lt; </a>
        <a href="#" class="page-link active">1</a>
        <a href="#" class="page-link">2</a>
        <a href="#" class="page-link">3</a>
        <a href="#" class="page-link">4</a>
        <a href="#" class="page-link">5</a>
        <a href="#" class="page-link">&gt; </a>
        <a href="#" class="page-link"> &raquo;</a>
      </div>
    </div>

    <!-- create 모달 -->
    <div id="distributionCreateModal" class="distributionCreateModal">
      <div class="distributionCreateModal-content">
        <div class="distributionCreateModal-title">
          <div class="distributionCreateModal-title-name">
            [서비스명]상세정보
          </div>
          <span
            class="distributionCreateModal-close"
            onclick="createModalClose()"
            >&times;</span
          >
        </div>
        <div class="distributionCreateModal-input-area">
          <div class="input-title">서비스명</div>
          <input class="input-area input-dataset" />

          <div class="input-title">재해유형 추론 서비스</div>
          <select class="input-area selectbox">
            <option>금진</option>
          </select>

          <div class="input-title">모델명</div>
          <select class="input-area selectbox">
            <option>끼임</option>
          </select>

          <div class="input-title">CCTV</div>
          <input class="input-area input-dataset" />

          <img
            src="{{url_for('static', filename='/javascript/src/images/border.svg')}}"
            alt="Image"
          />
        </div>

        <div class="distributionCreateModalButtons">
          <button
            class="distributionCreateModalCancelButton"
            onclick="createModalClose()"
          >
            취소
          </button>
          <button class="distributionCreateModalOkButton">생성</button>
        </div>
      </div>
    </div>

    <!-- detail 모달 -->
    <div id="distributionDetailModal" class="distributionDetailModal">
      <div class="distributionDetailModal-content">
        <div class="distributionDetailModal-title">
          <div class="distributionDetailModal-title-name">데이터 생성</div>
          <span
            class="distributionDetailModal-close"
            onclick="detailDistributionModalClose()"
            >&times;</span
          >
        </div>
        <div class="distributionDetailModal-input-area">
          <div class="input-title">서비스명</div>
          <input class="input-area input-dataset" />

          <div class="input-title">재해유형 추론 서비스</div>
          <select class="input-area selectbox">
            <option>금진</option>
          </select>

          <div class="input-title">모델명</div>
          <select class="input-area selectbox">
            <option>끼임</option>
          </select>

          <div class="input-title">CCTV</div>
          <input class="input-area input-dataset" />

          <img
            src="{{url_for('static', filename='/javascript/src/images/border.svg')}}"
            alt="Image"
          />
        </div>

        <div class="distributionDetailModalButtons">
          <button
            class="distributionDetailModalCancelButton"
            onclick="detailDistributionModalClose()"
          >
            취소
          </button>
          <button class="distributionDetailModalOkButton">확인</button>
        </div>
      </div>
    </div>
  </body>
</html>
