<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='/javascript/src/css/common/title.css')}}"
    />
    <link rel="stylesheet" href="../../static/javascript/src/css/tab/grafana.css">
</head>
<body>
{% include 'common/title.html' %}
<div class="main-content">
    <iframe src="http://211.46.241.214:31096/d/yFqfjwFIk/kubernetes-list?orgId=1&refresh=10s" width="100%" height="100%" frameborder="0"></iframe>
</div>


