<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static//javascript/src/css/common/title.css" />
  <link rel="stylesheet" type="text/css" href="/static//javascript/src/css/tab/modelingRun.css" />
  <script type="text/javascript" src="/static//javascript/src/js/tab/modelingRun.js"></script>
  <script type="text/javascript" src="/static//javascript/src/js/tab/commonUse.js"></script>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link
          rel="stylesheet"
          type="text/css"
          href="/static//javascript/src/css/common/title.css"
  />
</head>
{% include 'common/title.html' %}
</html>
<div class="main-content">
  <div class="section" id="section1">
    <div class="section_title">Airflow</div>
    <iframe class="airflowIframe iframe" src="http://211.46.241.213:31151/" id = 'airflow'></iframe>
  </div>
  <div class="section" id="section2">
    <div class="section_title">MLflow</div>
    <iframe class="MLflowIframe iframe" src="http://211.46.241.213:31101/#/models"></iframe>

  </div>
<!--  <div class="section" id="section3">-->
<!--    <div class="section_title">Project</div>-->
<!--    <iframe class="ProjectIframe iframe" ></iframe>-->
<!--  </div>-->
</div>
</body>
<script>
    var iframe = document.getElementById("airflow");

    iframe.onload = function() {
        // iframe 내부의 document 객체를 가져와서 작업 수행
        var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
        var usernameElement = iframeDocument.getElementById("username");

        if (usernameElement) {
            usernameElement.value = 'dddd'
        }
    };

</script>
</html>