<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" type="text/css" href="/static//javascript/src/css/common/title.css" />
  <link rel="stylesheet" type="text/css" href="/static//javascript/src/css/tab/modelingRun.css" />
  <script type="text/javascript" src="/static//javascript/src/js/tab/modelingRun.js"></script>
  <script type="text/javascript" src="/static//javascript/src/js/tab/commonUse.js"></script>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link
          rel="stylesheet"
          type="text/css"
          href="/static//javascript/src/css/common/title.css"
  />
</head>
<body>
<header>
  <div class="title-text title-logo">AI 메타버스 재난안전 플랫폼</div>
  <a href="/dataset_tab" class="title-text title-tab dataset-text"
  >데이터셋</a
  >
  <a href="/project_tab" class="title-text title-tab project-text"
  >프로젝트 관리</a
  >
  <a href="/distribution_tab" class="title-text title-tab deployment-text"
  >배포 관리</a
  >
  <a href="/resource_tab1" class="title-text title-tab resource-text"
  >CCTV 관리</a
  >
  <a href="/resource_tab2" class="title-text title-tab resource-text2"
  >리소스 관리</a
  >
  <a href="/aax_tab" class="title-text title-tab aax-text"
  >AAS</a
  >
  <a href="/modelingRun" class="title-text title-tab project2-text"
  >MLflow</a
  >
  <img
          src="/static//javascript/src/images/userName.svg"
          alt="Image"
          class="username-img"
  />
</header>
</body>
</html>
<div class="main-content">
  <div class="section" id="section1">
    <div class="section_title">Airflow</div>
    <iframe class="airflowIframe iframe" src="http://210.178.0.65:31151/" id = 'airflow'></iframe>
  </div>
  <div class="section" id="section2">
    <div class="section_title">MLflow</div>
    <iframe class="MLflowIframe iframe" src="http://210.178.0.65:31101/#/models"></iframe>

  </div>
  <div class="section" id="section3">
    <div class="section_title">Project</div>
    <iframe class="ProjectIframe iframe" ></iframe>
  </div>
</div>
</body>
<script>
    var iframe = document.getElementById("airflow");

    iframe.onload = function() {
        // iframe 내부의 document 객체를 가져와서 작업 수행
        var iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
        var usernameElement = iframeDocument.getElementById("username");

        if (usernameElement) {
            usernameElement.value = 'dddd'
        }
    };

</script>
</html>