<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static', filename='/javascript/src/css/common/title.css')}}"
    />
    <link rel="stylesheet" href="../../static/javascript/src/css/tab/resourceManagement1.css">
</head>
<body>
{% include 'common/title.html' %}
<div class="main-content">
    <div class="rtsp_video">
        <video id="rtspVideo" controls autoplay width="640" height="360"></video>
    </div>
</div>
</body>

</html>
