@font-face {
  font-family: "RobotoFont";
  src: url("/static/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 84px;
  background: #37466d;
  box-shadow: 0px 4px 4px 0px #0000001a;
}
.title-text.title-tab {
  text-decoration: none;
}

.title-text {
  position: absolute;
  text-align: left;
  color: #fff;
  letter-spacing: 0em;
  font-family: RobotoFont;
}

.title-logo {
  top: 25px;
  left: 15px;
  width: 300px;
  height: 42px;
  font-size: 25px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
}

.title-tab {
  height: 21px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
}

.dataset-text {
  top: 36px;
  left: 355px;
  width: 67px;
}

.project-text {
  top: 36px;
  left: 523px;
  width: 104px;
}

.deployment-text {
  top: 36px;
  left: 728px;
  width: 71px;
}

.deployment-text {
  top: 36px;
  left: 728px;
  width: 71px;
}

.deployment-text {
  top: 36px;
  left: 728px;
  width: 71px;
}

.resource-text{
  top: 36px;
  left: 928px;
  width: 100px;
}

.resource-text2{
  top: 36px;
  left: 1128px;
  width: 104px;
}

.aax-text{
  top: 36px;
  left: 1328px;
  width: 71px;
}

.project2-text{
  top: 36px;
  left: 1490px;
  width: 71px;
}

@media screen and (max-width: 1560px) {
  .username-img {
    display: none;
  }
}


@media screen and (min-width: 1101px) {
  .username-img {
    position: absolute;
    top: 25px;
    right: 37px; /* 오른쪽에서 37px 위치 */
    width: 127px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    color: #fff;
  }
}