@font-face {
  font-family: "RobotoFont";
  src: url("/static/font/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 84px;
  background: #37466d;
  box-shadow: 0px 4px 4px 0px #0000001a;
}
.title-text.title-tab {
  text-decoration: none;
}

.title-text {
  position: absolute;
  text-align: left;
  color: #fff;
  letter-spacing: 0em;
  font-family: RobotoFont;
}

.title-logo {
  top: 25px;
  left: 15px;
  width: 300px;
  height: 42px;
  font-size: 25px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
}

.title-tab {
  height: 21px;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  width: 120px;
}

.dataset-text {
  top: 36px;
  left: 400px;
}

.project-text {
  top: 36px;
  left: 520px;
}

.deployment-text {
  top: 36px;
  left: 640px;
}

.aax-text{
  top: 36px;
  left: 760px;
}

.resource-text2{
  top: 36px;
  left: 840px
}

.grafana-text{
  top: 36px;
  left: 980px;
}

.cctv-text{
  top: 36px;
  left: 1080px;
}
.cctv-event-text{
  top: 36px;
  left: 1200px;
}

@media screen and (max-width: 1560px) {
  .username-img {
    display: none;
    cursor: pointer;
  }
}


@media screen and (min-width: 1101px) {
  .username-img {
    cursor: pointer;
    position: absolute;
    top: 25px;
    right: 37px; /* 오른쪽에서 37px 위치 */
    width: 127px;
    height: 35px;
    font-size: 18px;
    font-weight: 600;
    line-height: 35px;
    color: #fff;
  }
}

.menu-list {
  border-radius: 5px;

  width: 123px;
  height: 277px;
  background-color:white;
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;

  position: absolute;
  top: 63px;
  right: 37px;
}

.menu-list a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 7px;
}

.menu-list a:hover {
  border-radius: 5px;
  background-color: #f4f4f4;
}

.menu{
  font-family: RobotoFont;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
}