<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='/javascript/src/css/common/title.css')}}"
    />
  </head>
  <body>
    <header>
      <div class="title-text title-logo" onclick="goHome()">AI 메타버스 재난안전 플랫폼</div>
      <a href="/dataset_tab" class="title-text title-tab dataset-text"
        >데이터셋</a
      >
      <a href="/project_tab" class="title-text title-tab project-text"
        >프로젝트 관리</a
      >
      <a href="/distribution_tab" class="title-text title-tab deployment-text"
        >배포 관리</a
      >
      <a href="/resource_tab2" class="title-text title-tab resource-text2"
      >리소스 관리</a
      >
      <a href="/aas_tab" class="title-text title-tab aax-text"
      >AAS</a
      >
      <a href="/grafana_tab" class="title-text title-tab grafana-text"
      >Grafana</a
      >
      <a href="/cctv_tab" class="title-text title-tab cctv-text"
      >CCTV 관리</a
      >
      <a href="/cctv_event_tab" class="title-text title-tab cctv-event-text"
      >CCTV 이벤트</a
      >
      <img
        src="{{url_for('static', filename='/javascript/src/images/userName.svg')}}"
        alt="Image"
        class="username-img"
      />
    </header>
  <script>
      function goHome(){
          location.replace("/dataset_tab")
      }
  </script>
  </body>
</html>
