<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=5,IE=9" ><![endif]-->
<!DOCTYPE html>
<html>
<script>
    // let createProjInfo = "{{ create_proj_info }}"//{'dataSetName' : '' , 'modelName' : '', 'runtime' : '' }
	let edUI; // editer ui 객체 할당을 위한 함수
	let MxCellMapper = {} // 데이터 입력을 바인딩하는 맵퍼
    let MxArrowMapper = {} // 화살표 정보를 바인딩 하는 맵퍼
</script>
<head>
	<link rel="shortcut icon" href="#">
	<title>Grapheditor</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="../static/javascript/examples/grapheditor/www/styles/grapheditor.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/javascript/src/css/common/title.css')}}"/>
	<link rel="stylesheet" type="text/css"href="{{ url_for('static', filename='/javascript/src/css/common/title.css')}}"/>
	<script type="text/javascript">

		// Parses URL parameters. Supported parameters are:
		// - lang=xy: Specifies the language of the user interface.
		// - touch=1: Enables a touch-style user interface.
		// - storage=local: Enables HTML5 local storage.
		// - chrome=0: Chromeless mode.
		var urlParams = (function(url)
		{
			var result = new Object();
			var idx = url.lastIndexOf('?');

			if (idx > 0)
			{
				var params = url.substring(idx + 1).split('&');

				for (var i = 0; i < params.length; i++)
				{
					idx = params[i].indexOf('=');

					if (idx > 0)
					{
						result[params[i].substring(0, idx)] = params[i].substring(idx + 1);
					}
				}
			}

			return result;
		})(window.location.href);

		// Default resources are included in grapheditor resources
		mxLoadResources = false;
	</script>
	{#  KPST    #}
	<script type="text/javascript" src="../static/common.js"></script>
	<script type="text/javascript" src="../static/mxCellMapper.js"></script>
	<script type="text/javascript" src="../static/dataFetch.js"></script>
	{#  Org    #}
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Init.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/deflate/pako.min.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/deflate/base64.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/jscolor/jscolor.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/sanitizer/sanitizer.min.js"></script>
	<script type="text/javascript" src="../static/javascript/src/js/mxClient.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/EditorUi.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Editor.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Sidebar.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Graph.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Format.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Shapes.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Actions.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Menus.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Toolbar.js"></script>
	<script type="text/javascript" src="../static/javascript/examples/grapheditor/www/js/Dialogs.js"></script>
</head>
<body class="geEditor">
	{% include 'common/title.html' %}
<script type="text/javascript">
	// Extends EditorUi to update I/O action states based on availability of backend
	(function()
	{
		var editorUiInit = EditorUi.prototype.init;

		EditorUi.prototype.init = function()
		{
			editorUiInit.apply(this, arguments);
			this.actions.get('export').setEnabled(false);

			// Updates action states which require a backend
			if (!Editor.useLocalStorage)
			{
				mxUtils.post(OPEN_URL, '', mxUtils.bind(this, function(req)
				{
					var enabled = req.getStatus() != 404;
					this.actions.get('open').setEnabled(enabled || Graph.fileSupport);
					this.actions.get('import').setEnabled(enabled || Graph.fileSupport);
					this.actions.get('save').setEnabled(enabled);
					this.actions.get('saveAs').setEnabled(enabled);
					this.actions.get('export').setEnabled(enabled);
				}));
			}
		};

		// Adds required resources (disables loading of fallback properties, this can only
		// be used if we know that all keys are defined in the language specific file)
		mxResources.loadDefaultBundle = false;
		var bundle = mxResources.getDefaultBundle(RESOURCE_BASE, mxLanguage) ||
				mxResources.getSpecialBundle(RESOURCE_BASE, mxLanguage);

		// Fixes possible asynchronous requests
		mxUtils.getAll([bundle, STYLE_PATH + '/default.xml'], function(xhr)
		{
			// Adds bundle text to resources
			mxResources.parse(xhr[0].getText());

			// Configures the default graph theme
			var themes = new Object();
			themes[Graph.prototype.defaultThemeName] = xhr[1].getDocumentElement();

			// Main
			new EditorUi(new Editor(urlParams['chrome'] == '0', themes));
		}, function()
		{
			document.body.innerHTML = '<center style="margin-top:10%;">Error loading resource files. Please check browser console.</center>';
		});
	})();
</script>
<div id="modalForm"></div>
</body>
<script>
async function sample() {

    let promise = new Promise((resolve, reject) => {
    setTimeout(() => resolve("완료!"), 5000) // 동기 함수 호출
    });
    let result = await promise; // 프라미스가 이행될 때까지 기다림 (*)
    console.log(result)

    promise = new Promise((resolve, reject) => {
    setTimeout(() => resolve("두번째도 완료"), 5000) // 동기 함수 호출
    });

    result = await promise; // 프라미스가 이행될 때까지 기다림 (*)
    console.log(result)
}

</script>
</html>

